<div>
  <app-header></app-header>
  <main class="wrapper">
    <div class="title">
      <h1>標題名稱(信用卡)<br />標題名稱(線上申請)</h1>
    </div>
    <div
      class="c-mbg"
    ></div>

    <div class="btns">
      <a href="/upload_docs.html" class="btn">
        <i class="fa-solid fa-bullhorn"></i>
        <p class="mb-0">最新<br />活動</p>
      </a>
      <a href="#" class="btn">
        <i class="fa-solid fa-magnifying-glass"></i>
        <p class="mb-0">產品<br />特色</p>
      </a>
    </div>

    <div class="container-md">
      <div class="remind_txt">
        <a href="#" target="_self">申請條件說明</a>
      </div>

      <div>
        <i class="fa-solid fa-circle-exclamation"></i>
        <span>僅限本國人正卡申請，外籍人士或附卡申請，請洽</span>
        <a href="https://chat.openai.com/" target="_blank">
          <span class="ai">智能客服</span>
        </a>
      </div>

      <div class="remind_txt mt-3">
        <p class="mt-2 mb-2">請輸入以下資訊</p>
      </div>

      <form id="myForm" autocomplete="off">
        <div class="d-flex">
          <div class="column-left">
            <div class="borleft">卡片品牌</div>
            <div class="check-block-D justify-content-start">
              <a title="VISA" href="#" id="card-brand1" class="card-brand active">
                <img
                  src="https://ob.ctbcbank.com/card/img/card-brand/visa.png"
                  alt=""
                />
              </a>
              <a title="JCB" href="#" id="card-brand2" class="card-brand">
                <img
                  src="https://ob.ctbcbank.com/card/img/card-brand/jcb.png"
                  alt=""
                />
              </a>
            </div>
            <div class="d-none d-md-block">
              <div
                id="carouselExampleIndicators"
                class="carousel carousel-dark slide active"
              >
                <div class="carousel-indicators">
                  <button
                    type="button"
                    data-bs-target="#carouselExampleIndicators"
                    data-bs-slide-to="0"
                    class="active"
                    aria-current="true"
                    aria-label="Slide 1"
                  ></button>
                  <button
                    type="button"
                    data-bs-target="#carouselExampleIndicators"
                    data-bs-slide-to="1"
                    aria-label="Slide 2"
                  ></button>
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <div class="cards-wrapper">
                      <div class="card">
                        <img
                          src="assets/images/card1.jpg"
                          class="card-img-top"
                          alt="..."
                        />
                        <div class="card-body">
                          <p class="card-text">LINE Pay甜蜜珍奶卡 商務御璽卡</p>
                          <p class="cardlevercheck">
                            <input
                              type="radio"
                              id="VISA0"
                              class="VISA"
                              value="1"
                              tabindex="0"
                              title="請選擇VISA卡"
                              checked
                              title="請選擇VISA卡"
                            />選擇此卡<label for="VISA0"></label>
                          </p>
                        </div>
                      </div>
                      <div class="card">
                        <img
                          src="assets/images/card2.jpg"
                          class="card-img-top"
                          alt="..."
                        />
                        <div class="card-body">
                          <p class="card-text">LINE Pay暖心湯包卡 商務御璽卡</p>
                          <p class="cardlevercheck">
                            <input
                              type="radio"
                              class="VISA"
                              id="VISA1"
                              value="2"
                              tabindex="0"
                              title="請選擇VISA卡"
                              title="請選擇VISA卡"
                            />選擇此卡<label for="VISA1"></label>
                          </p>
                        </div>
                      </div>
                      <div class="card">
                        <img
                          src="assets/images/card3.jpg"
                          class="card-img-top"
                          alt="..."
                        />
                        <div class="card-body">
                          <p class="card-text">LINE Pay好運旺來卡 商務御璽卡</p>
                          <p class="cardlevercheck">
                            <input
                              type="radio"
                              class="VISA"
                              id="VISA2"
                              value="3"
                              tabindex="0"
                              title="請選擇VISA卡"
                              title="請選擇VISA卡"
                            />選擇此卡<label for="VISA2"></label>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="cards-wrapper">
                      <div class="card">
                        <img
                          src="assets/images/card_alex.png"
                          class="card-img-top"
                          alt="..."
                        />
                        <div class="card-body">
                          <p class="card-text">LINE Pay甜蜜珍奶卡 商務御璽卡</p>
                          <p class="cardlevercheck">
                            <input
                              type="radio"
                              class="VISA"
                              id="VISA3"
                              value="4"
                              tabindex="0"
                              title="請選擇VISA卡"
                              title="請選擇VISA卡"
                            />選擇此卡<label for="VISA3"></label>
                          </p>
                        </div>
                      </div>
                      <div class="card">
                        <img
                          src="assets/images/card_alex.png"
                          class="card-img-top"
                          alt="..."
                        />
                        <div class="card-body">
                          <p class="card-text">LINE Pay暖心湯包卡 商務御璽卡</p>
                          <p class="cardlevercheck">
                            <input
                              type="radio"
                              class="VISA"
                              id="VISA4"
                              value="5"
                              tabindex="0"
                              title="請選擇VISA卡"
                            />選擇此卡<label for="VISA4"></label>
                          </p>
                        </div>
                      </div>
                      <div class="card">
                        <img
                          src="assets/images/card_alex.png"
                          class="card-img-top"
                          alt="..."
                        />
                        <div class="card-body">
                          <p class="card-text">LINE Pay好運旺來卡 商務御璽卡</p>
                          <p class="cardlevercheck">
                            <input
                              type="radio"
                              class="VISA"
                              id="VISA5"
                              value="6"
                              tabindex="0"
                              title="請選擇VISA卡"
                            />選擇此卡<label for="VISA5"></label>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <button
                  class="carousel-control-prev"
                  type="button"
                  data-bs-target="#carouselExampleIndicators"
                  data-bs-slide="prev"
                >
                  <span
                    class="carousel-control-prev-icon"
                    aria-hidden="true"
                  ></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button
                  class="carousel-control-next"
                  type="button"
                  data-bs-target="#carouselExampleIndicators"
                  data-bs-slide="next"
                >
                  <span
                    class="carousel-control-next-icon"
                    aria-hidden="true"
                  ></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
              <div
                id="carouselExampleIndicators2"
                class="carousel carousel-dark slide"
              >
                <div class="carousel-indicators">
                  <button
                    type="button"
                    data-bs-target="#carouselExampleIndicators2"
                    data-bs-slide-to="0"
                    class="active"
                    aria-label="Slide 1"
                    aria-current="true"
                  ></button>
                  <button
                    type="button"
                    data-bs-target="#carouselExampleIndicators2"
                    data-bs-slide-to="1"
                    aria-label="Slide 2"
                    class=""
                  ></button>
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <div class="cards-wrapper">
                      <div class="card">
                        <img
                          src="assets/images/card4.png"
                          class="card-img-top"
                          alt="..."
                        />
                        <div class="card-body">
                          <p class="card-text">LINE Pay甜蜜珍奶卡 商務御璽卡</p>
                          <p class="cardlevercheck">
                            <input
                              type="radio"
                              class="VISA"
                              id="VISA6"
                              value="7"
                              tabindex="0"
                              title="請選擇VISA卡"
                            />選擇此卡<label for="VISA6"></label>
                          </p>
                        </div>
                      </div>
                      <div class="card">
                        <img
                          src="assets/images/card5.png"
                          class="card-img-top"
                          alt="..."
                        />
                        <div class="card-body">
                          <p class="card-text">LINE Pay暖心湯包卡 商務御璽卡</p>
                          <p class="cardlevercheck">
                            <input
                              type="radio"
                              class="VISA"
                              id="VISA7"
                              value="8"
                              tabindex="0"
                              title="請選擇VISA卡"
                            />選擇此卡<label for="VISA7"></label>
                          </p>
                        </div>
                      </div>
                      <div class="card">
                        <img
                          src="assets/images/card6.png"
                          class="card-img-top"
                          alt="..."
                        />
                        <div class="card-body">
                          <p class="card-text">LINE Pay好運旺來卡 商務御璽卡</p>
                          <p class="cardlevercheck">
                            <input
                              type="radio"
                              class="VISA"
                              id="VISA8"
                              value="9"
                              tabindex="0"
                              title="請選擇VISA卡"
                            />選擇此卡<label for="VISA8"></label>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="cards-wrapper">
                      <div class="card">
                        <img
                          src="assets/images/card_alex.png"
                          class="card-img-top"
                          alt="..."
                        />
                        <div class="card-body">
                          <p class="card-text">LINE Pay甜蜜珍奶卡 商務御璽卡</p>
                          <p class="cardlevercheck">
                            <input
                              type="radio"
                              class="VISA"
                              id="VISA9"
                              value="10"
                              tabindex="0"
                              title="請選擇VISA卡"
                            />選擇此卡<label for="VISA9"></label>
                          </p>
                        </div>
                      </div>
                      <div class="card">
                        <img
                          src="assets/images/card_alex.png"
                          class="card-img-top"
                          alt="..."
                        />
                        <div class="card-body">
                          <p class="card-text">LINE Pay暖心湯包卡 商務御璽卡</p>
                          <p class="cardlevercheck">
                            <input
                              type="radio"
                              class="VISA"
                              id="VISA10"
                              value="11"
                              tabindex="0"
                              title="請選擇VISA卡"
                            />選擇此卡<label for="VISA10"></label>
                          </p>
                        </div>
                      </div>
                      <div class="card">
                        <img
                          src="assets/images/card_alex.png"
                          class="card-img-top"
                          alt="..."
                        />
                        <div class="card-body">
                          <p class="card-text">LINE Pay暖心湯包卡 商務御璽卡</p>
                          <p class="cardlevercheck">
                            <input
                              type="radio"
                              class="VISA"
                              id="VISA11"
                              value="12"
                              tabindex="0"
                              title="請選擇VISA卡"
                            />選擇此卡<label for="VISA11"></label>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <button
                  class="carousel-control-prev"
                  type="button"
                  data-bs-target="#carouselExampleIndicators2"
                  data-bs-slide="prev"
                >
                  <span
                    class="carousel-control-prev-icon"
                    aria-hidden="true"
                  ></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button
                  class="carousel-control-next"
                  type="button"
                  data-bs-target="#carouselExampleIndicators2"
                  data-bs-slide="next"
                >
                  <span
                    class="carousel-control-next-icon"
                    aria-hidden="true"
                  ></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            </div>

            <div class="d-md-none">
              <div
                id="carouselExampleIndicators11"
                class="carousel carousel-dark slide active"
              >
                <div class="carousel-indicators">
                  <button
                    type="button"
                    data-bs-target="#carouselExampleIndicators11"
                    data-bs-slide-to="0"
                    class="active"
                    aria-current="true"
                    aria-label="Slide 1"
                  ></button>
                  <button
                    type="button"
                    data-bs-target="#carouselExampleIndicators11"
                    data-bs-slide-to="1"
                    aria-label="Slide 2"
                  ></button>
                  <button
                    type="button"
                    data-bs-target="#carouselExampleIndicators11"
                    data-bs-slide-to="2"
                    aria-label="Slide 3"
                  ></button>
                  <button
                    type="button"
                    data-bs-target="#carouselExampleIndicators11"
                    data-bs-slide-to="3"
                    aria-label="Slide 4"
                  ></button>
                  <button
                    type="button"
                    data-bs-target="#carouselExampleIndicators11"
                    data-bs-slide-to="4"
                    aria-label="Slide 5"
                  ></button>
                  <button
                    type="button"
                    data-bs-target="#carouselExampleIndicators11"
                    data-bs-slide-to="5"
                    aria-label="Slide 6"
                  ></button>
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <div class="card">
                      <img
                        src="assets/images/card1.jpg"
                        class="card-img-top"
                        alt="..."
                      />
                      <div class="card-body">
                        <p class="card-text">LINE Pay甜蜜珍奶卡 商務御璽卡</p>
                        <p class="cardlevercheck">
                          <input
                            type="radio"
                            id="VISA12"
                            class="VISA"
                            value="1"
                            tabindex="0"
                            title="請選擇VISA卡"
                            checked
                          />選擇此卡<label for="VISA12"></label>
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="card">
                      <img
                        src="assets/images/card2.jpg"
                        class="card-img-top"
                        alt="..."
                      />
                      <div class="card-body">
                        <p class="card-text">LINE Pay暖心湯包卡 商務御璽卡</p>
                        <p class="cardlevercheck">
                          <input
                            type="radio"
                            class="VISA"
                            id="VISA13"
                            value="2"
                            tabindex="0"
                            title="請選擇VISA卡"
                          />選擇此卡<label for="VISA13"></label>
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="card">
                      <img
                        src="assets/images/card3.jpg"
                        class="card-img-top"
                        alt="..."
                      />
                      <div class="card-body">
                        <p class="card-text">LINE Pay好運旺來卡 商務御璽卡</p>
                        <p class="cardlevercheck">
                          <input
                            type="radio"
                            class="VISA"
                            id="VISA14"
                            value="3"
                            tabindex="0"
                            title="請選擇VISA卡"
                          />選擇此卡<label for="VISA14"></label>
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="card">
                      <img
                        src="assets/images/card_alex.png"
                        class="card-img-top"
                        alt="..."
                      />
                      <div class="card-body">
                        <p class="card-text">LINE Pay甜蜜珍奶卡 商務御璽卡</p>
                        <p class="cardlevercheck">
                          <input
                            type="radio"
                            class="VISA"
                            id="VISA15"
                            value="4"
                            tabindex="0"
                            title="請選擇VISA卡"
                          />選擇此卡<label for="VISA15"></label>
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="card">
                      <img
                        src="assets/images/card_alex.png"
                        class="card-img-top"
                        alt="..."
                      />
                      <div class="card-body">
                        <p class="card-text">LINE Pay暖心湯包卡 商務御璽卡</p>
                        <p class="cardlevercheck">
                          <input
                            type="radio"
                            class="VISA"
                            id="VISA16"
                            value="5"
                            tabindex="0"
                            title="請選擇VISA卡"
                          />選擇此卡<label for="VISA16"></label>
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="card">
                      <img
                        src="assets/images/card_alex.png"
                        class="card-img-top"
                        alt="..."
                      />
                      <div class="card-body">
                        <p class="card-text">LINE Pay好運旺來卡 商務御璽卡</p>
                        <p class="cardlevercheck">
                          <input
                            type="radio"
                            class="VISA"
                            id="VISA17"
                            value="6"
                            tabindex="0"
                            title="請選擇VISA卡"
                          />選擇此卡<label for="VISA17"></label>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <button
                  class="carousel-control-prev"
                  type="button"
                  data-bs-target="#carouselExampleIndicators11"
                  data-bs-slide="prev"
                >
                  <span
                    class="carousel-control-prev-icon"
                    aria-hidden="true"
                  ></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button
                  class="carousel-control-next"
                  type="button"
                  data-bs-target="#carouselExampleIndicators11"
                  data-bs-slide="next"
                >
                  <span
                    class="carousel-control-next-icon"
                    aria-hidden="true"
                  ></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
              <div
                id="carouselExampleIndicators22"
                class="carousel carousel-dark slide"
              >
                <div class="carousel-indicators">
                  <button
                    type="button"
                    data-bs-target="#carouselExampleIndicators22"
                    data-bs-slide-to="0"
                    class="active"
                    aria-label="Slide 1"
                    aria-current="true"
                  ></button>
                  <button
                    type="button"
                    data-bs-target="#carouselExampleIndicators22"
                    data-bs-slide-to="1"
                    aria-label="Slide 2"
                    class=""
                  ></button>
                  <button
                    type="button"
                    data-bs-target="#carouselExampleIndicators22"
                    data-bs-slide-to="2"
                    aria-label="Slide 3"
                    class=""
                  ></button>
                  <button
                    type="button"
                    data-bs-target="#carouselExampleIndicators22"
                    data-bs-slide-to="3"
                    aria-label="Slide 4"
                    class=""
                  ></button>
                  <button
                    type="button"
                    data-bs-target="#carouselExampleIndicators22"
                    data-bs-slide-to="4"
                    aria-label="Slide 5"
                    class=""
                  ></button>
                  <button
                    type="button"
                    data-bs-target="#carouselExampleIndicators22"
                    data-bs-slide-to="5"
                    aria-label="Slide 6"
                    class=""
                  ></button>
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <div class="card">
                      <img
                        src="assets/images/card4.png"
                        class="card-img-top"
                        alt="..."
                      />
                      <div class="card-body">
                        <p class="card-text">LINE Pay甜蜜珍奶卡 商務御璽卡</p>
                        <p class="cardlevercheck">
                          <input
                            type="radio"
                            class="VISA"
                            id="VISA18"
                            value="7"
                            tabindex="0"
                            title="請選擇VISA卡"
                          />選擇此卡<label for="VISA18"></label>
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="card">
                      <img
                        src="assets/images/card5.png"
                        class="card-img-top"
                        alt="..."
                      />
                      <div class="card-body">
                        <p class="card-text">LINE Pay暖心湯包卡 商務御璽卡</p>
                        <p class="cardlevercheck">
                          <input
                            type="radio"
                            class="VISA"
                            id="VISA19"
                            value="8"
                            tabindex="0"
                            title="請選擇VISA卡"
                          />選擇此卡<label for="VISA19"></label>
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="card">
                      <img
                        src="assets/images/card6.png"
                        class="card-img-top"
                        alt="..."
                      />
                      <div class="card-body">
                        <p class="card-text">LINE Pay好運旺來卡 商務御璽卡</p>
                        <p class="cardlevercheck">
                          <input
                            type="radio"
                            class="VISA"
                            id="VISA20"
                            value="9"
                            tabindex="0"
                            title="請選擇VISA卡"
                          />選擇此卡<label for="VISA20"></label>
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="card">
                      <img
                        src="assets/images/card_alex.png"
                        class="card-img-top"
                        alt="..."
                      />
                      <div class="card-body">
                        <p class="card-text">LINE Pay甜蜜珍奶卡 商務御璽卡</p>
                        <p class="cardlevercheck">
                          <input
                            type="radio"
                            class="VISA"
                            id="VISA21"
                            value="10"
                            tabindex="0"
                            title="請選擇VISA卡"
                          />選擇此卡<label for="VISA21"></label>
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="card">
                      <img
                        src="assets/images/card_alex.png"
                        class="card-img-top"
                        alt="..."
                      />
                      <div class="card-body">
                        <p class="card-text">LINE Pay暖心湯包卡 商務御璽卡</p>
                        <p class="cardlevercheck">
                          <input
                            type="radio"
                            class="VISA"
                            id="VISA22"
                            value="11"
                            tabindex="0"
                            title="請選擇VISA卡"
                          />選擇此卡<label for="VISA22"></label>
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="card">
                      <img
                        src="assets/images/card_alex.png"
                        class="card-img-top"
                        alt="..."
                      />
                      <div class="card-body">
                        <p class="card-text">LINE Pay暖心湯包卡 商務御璽卡</p>
                        <p class="cardlevercheck">
                          <input
                            type="radio"
                            class="VISA"
                            id="VISA23"
                            value="12"
                            tabindex="0"
                            title="請選擇VISA卡"
                          />選擇此卡<label for="VISA23"></label>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <button
                  class="carousel-control-prev"
                  type="button"
                  data-bs-target="#carouselExampleIndicators22"
                  data-bs-slide="prev"
                >
                  <span
                    class="carousel-control-prev-icon"
                    aria-hidden="true"
                  ></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button
                  class="carousel-control-next"
                  type="button"
                  data-bs-target="#carouselExampleIndicators22"
                  data-bs-slide="next"
                >
                  <span
                    class="carousel-control-next-icon"
                    aria-hidden="true"
                  ></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            </div>
          </div>
        </div>

        <div id="cardType">
          <div class="column-left">
            <div class="check-block-D row ms-0 ps-0">
              <div class="borleft col-md-auto mt-3">儲值卡</div>
              <div class="select-style col-md-10 mt-3">
                <select class="date select" title="付款方式選擇">
                  <option value="1">一卡通</option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <div class="check-block-G">
          <div class="borleft">基本資料</div>
        </div>

        <div class="mlr-5">
          <div class="check-block-id column pitems-left row ms-0">
            <label class="textline col-md-auto mt-3">身分證字號</label
            ><input
              placeholder="請輸入"
              maxlength="10"
              id="ID-number"
              class="date person_id_area forinput100 col-md-10 mt-3"
            />
            <a
              href="https://people.debian.org/~paulliu/ROCid.html"
              target="_blank"
              >測試</a
            >
          </div>
          <span id="ID-alert" class="mb-1 msg_alert"
            >請檢查身分證輸入是否正確</span
          >

          <div class="check-block-id row ms-0">
            <label class="birthday textline col-md-auto mt-3">出生年月日</label
            ><input
              placeholder="YYYY/MM/DD"
              maxlength="10"
              type="text"
              inputmode="numeric"
              id="birthday"
              class="date person_id_area forinput100 col-md-10 mt-3"
            />
          </div>

          <span id="birthday-alert" class="mb-1 reqtxt msg_alert"
            >▲ 請輸入正確日期格式</span
          >

          <div class="check-block-id captchaline column pitems-left row ms-0">
            <label class="textline col-md-auto mt-3">驗證碼</label
            ><input
              placeholder="請輸入圖片中的驗證碼"
              inputmode="numeric"
              maxlength="4"
              id="captcha-input"
              class="date forinput100 col-md-auto mt-3"
            />
            <div class="dis-captcha col-md-auto mt-3">
              <img id="captcha-img" src="" alt="驗證碼" />&nbsp;
              <a id="refresh-btn" class="refresh pointer">
                <img alt="刷新圖示" src="https://ob.ctbcbank.com/card/img/refresh.jpg" />
              </a>
            </div>
          </div>
          <span class="mb-1 msg_alert show d-none"
            >驗證碼錯誤</span
          >
        </div>

        <div class="note">
          <p class="f-red">
            <img src="https://ob.ctbcbank.com/card/img/wen-red.png" alt="" />
            請務必點擊以下事項與條款，並詳閱相關內容，以確保自身權益。
          </p>
          <div>
            <div class="d-flex fornotefx">
              <div>
                <input title="條款" type="checkbox" value="0" />
              </div>
              <div>
                <span>本人已詳閱</span
                ><span
                  ><a class="pointer"
                    ><span class="person">信用卡約定條款</span></a
                  ><span>、</span></span
                ><span
                  ><a class="pointer"
                    ><span class="person">信用卡須知注意事項</span></a
                  ><span>、</span></span
                ><span
                  ><a class="pointer"
                    ><span class="person">信用卡申請同意聲明事項</span></a
                  ><!----></span
                ><span>，並同意其條款。(未勾選恕無法申請)</span
                ><span
                  class="mb-1 reqtxt msg_alert dinb cc_cursor d-none show"
                  >(若未勾選，恕無法申請)</span
                >
              </div>
            </div>
            <div class="d-flex fornotefx">
              <div><input title="條款" type="checkbox" value="1" /></div>
              <div>
                <span>本人已詳閱</span
                ><span
                  ><a class="pointer"
                    ><span class="person"
                      >聯名卡暨儲值卡功能同意條款及聲明事項</span
                    ></a
                  ><!----></span
                ><span>，並同意其條款。(未勾選恕無法申請)</span
                ><span
                  class="mb-1 reqtxt msg_alert dinb cc_cursor d-none show"
                  >(若未勾選，恕無法申請)</span
                >
              </div>
            </div>
            <div class="d-flex fornotefx">
              <div><input title="條款" type="checkbox" value="2" /></div>
              <div>
                <span>本人已詳閱</span
                ><span
                  ><a class="pointer"
                    ><span class="person">儲值卡同意條款</span></a
                  ><!----></span
                ><span>，並同意其條款。(未勾選恕無法申請)</span
                ><span
                  class="mb-1 reqtxt msg_alert dinb cc_cursor d-none show"
                  >(若未勾選，恕無法申請)</span
                >
              </div>
            </div>
            <div class="d-flex fornotefx">
              <div><input title="條款" type="checkbox" value="3" /></div>
              <div>
                <span>本人已詳閱</span
                ><span
                  ><a class="pointer"
                    ><span class="person"
                      >個人網路銀行暨行動銀行服務條款</span
                    ></a
                  ><!----></span
                ><span>，並同意其條款。(未勾選恕無法申請)</span
                ><span
                  class="mb-1 reqtxt msg_alert dinb cc_cursor d-none show"
                  >(若未勾選，恕無法申請)</span
                >
              </div>
            </div>
            <div class="d-flex fornotefx">
              <div><input title="條款" type="checkbox" value="4" /></div>
              <div>
                <span>本人已詳閱</span
                ><span
                  ><a class="pointer"><span class="person">個資法條款</span></a
                  ><!----></span
                ><span>，並同意其條款。(未勾選恕無法申請)</span
                ><span
                  class="mb-1 reqtxt msg_alert dinb cc_cursor d-none show"
                  >(若未勾選，恕無法申請)</span
                >
              </div>
            </div>
            <div class="d-flex fornotefx">
              <div><input title="條款" type="checkbox" value="5" /></div>
              <div>
                <span>本人同意</span
                ><span
                  ><a class="pointer"
                    ><span class="person">同意降等條款</span></a
                  ><!----></span
                ><span
                  >貴行於本人無法獲發所申請等級卡片時，得改核發次等級卡片。(未勾選視為不同意)</span
                ><!---->
              </div>
            </div>
            <div class="d-flex fornotefx">
              <div><input title="條款" type="checkbox" value="6" /></div>
              <div>
                <span>本人同意</span
                ><span
                  ><a class="pointer"
                    ><span class="person">專人聯絡同意事項</span></a
                  ><!----></span
                ><span
                  >，後續如未能完成申請，
                  貴行得依本人本次提供之聯絡電話，指派專人來電服務。(未勾選視為不同意)</span
                ><!---->
              </div>
            </div>
            <div class="d-flex fornotefx">
              <div><input title="條款" type="checkbox" value="7" /></div>
              <div>
                <span
                  >本人同意貴行於核卡後發送簡訊通知，提供本人預借現金密碼設定之相關說明。(若無勾選則視為不同意)</span
                ><span
                  ><a class="pointer"><span class="person"> </span></a
                  ><!----></span
                ><span></span
                ><!---->
              </div>
            </div>
          </div>
        </div>

        <div class="btn_area">
          <a
            href="./upload_docs.html"
            class="pointer disable w-50"
            id="disabledLink"
            >這是按鈕</a
          >
        </div>
      </form>
    </div>
  </main>
  <app-footer></app-footer>
</div>
