@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100&display=swap");

body,
html {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: "Noto Sans TC", sans-serif;
  margin: 0;
}